@model IEnumerable<Blog>

<div class="container wrap">
    <div class="hero-container">
        <div class="row">
            <div class="image-col">
                <img class="profile-img" src="assets/images/profile-me.jpg" />
            </div>
            <div class="info-col">
                <div class="info-col-title-container">
                    <h4>Hey! I'm <span class="fw-bold">Jimmie</span>&nbsp;</h4>
                    <div class="wave">👋</div>
                </div>
                <p>This blog page was created for a project to demonstrate my skills and experience as a Software Developer creating web applications with the .NET paltform. Additionally, blog articles will be posted periodically of interesting and instightful topics pertaining to this industry.</p>
                <ul class="icon-list">
                    <li><a target="_blank" href="https://www.linkedin.com/in/jimmie-davis/"><i class="bi bi-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://github.com/jimmiedavis434"><i class="bi bi-github"></i></a></li>
                    <li><a target="_blank" href="https://stackoverflow.com/users/19842845/jimmie-davis"><i class="bi bi-stack-overflow"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/JimmieDavis434"><i class="bi bi-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class=" bloglist-container">
        <h5 class="cta-btn" style="font-weight: 600"><i style="color: #262B2E" class="bi bi-pen-fill"></i> Latest Blogs</h5>
                <hr />

        @{
            foreach (var obj in Model)
            {
                    <article class="latest-blogs row">
                        <div class="image-col">
                            <img class="article-img" src="@obj.BlogImageUrl1" />
                        </div>
                        <div class="info-col">
                            <div class="info-col-title-container">
                                <span class="keywords">#@obj.BlogKeyword1 #@obj.BlogKeyword2 #@obj.BlogKeyword3</span>
                                <h5>@obj.BlogTitle</h5>
                            </div>
                            <p>@obj.BlogPrelude</p>
                            <div class="list-group d-flex">
                                <a class="read-link align-items-center btn-green" asp-controller="Blog" asp-action="Read" asp-route-id="@obj.BlogId">Read More</a>
                                <span>@obj.BlogDate.Month / @obj.BlogDate.Day / @obj.BlogDate.Year</span>
                            </div>
                        </div>
                    </article>
                    <hr />
            }
        }
    </div>
</div>